/* ---------- Color Module Styles ----------- */
:root {
  --bs-body-color:#3b3b3b !important;
  --bs-link-color: #007bff !important
}
body {
    color: #3b3b3b;
    background: #f2f2f2;
}
/* ---------- IAbookreader ----------- */
.BRtoolbar {
    color: #3b3b3b;
    background: #f2f2f2 !important;
}
#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
    background: #ffffff;
}


.card-img {
  background-color: #2b3951;
}

.tabs ul.primary li a.is-active {
    background-color: #ffffff;
}

.tabs ul.primary li.is-active a {
    background-color: #ffffff;
    border-bottom-color: #ffffff;
}
#main-wrapper table thead.thead-dark tr th {
    background: #ffa500;
    color: #f7f7f7;
    border-bottom-style: none;
}

#navbar-top {
    background-color: #000000;
    background-repeat: repeat;
    background-blend-mode: multiply;
}

#navbar-main {
    background-color: #2b3951;
}


.views-exposed-form form[action="/search"] div[data-drupal-selector="edit-actions"] > button[value="Search"] {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #ffa500;
    border-color: #ffa500;
    color: #f7f7f7;
}

#views-exposed-form-solr-search-content-page-1:focus-within fieldset.form-type-search-api-autocomplete input {
    border: solid 1px #b3ffe0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #b3ffe0;
}

.site-name-slogan .navbar-brand-slogan {
    color: #ffffff;
}

#navbar-main .nav-link {
    color: #b3ffe0;
}
nav.navbar li.nav-item {
    border-left-width: 3px;
    border-left-color: #007bff;
    border-left-style: solid;
}

main.main-content div.content {
    background-color: #f6f6f2;
    border-radius: 6px;
}

.btn-warning {
    background-color: #ffa500;
    border-color: #ffa500;
}

.btn-warning:hover {
    background-color: #007bff;
    border-color: #007bff;
}
nav > ul > li.active.nav-item > a {
    background-color: #007bff !important;
    border-color: #007bff !important;
}

/* Webform progress tracker */
.webform-progress-tracker .progress-title[role="link"] {
    color: #4b82bf
}

.webform-progress-tracker .progress-title[role="link"]:hover,
.webform-progress-tracker .progress-title[role="link"]:focus {
    text-decoration: underline;
    color: #4b82bf;
    text-decoration-color:#4b82bf;
}

div > div.carousel-item.active > div > h3 {
    background-color: #ffffff;
}

.navbar-toggler {
    border: 0;
    align-self: flex-start;
    margin-top: 0.5rem;
}

.nav-link:hover, .nav-link:focus {
    color: #ffffff;
}
.nav-tabs .nav-link:hover, .nav-link:focus {
    color: #4b82bf;
    background-color:#0256b1 !important;
}

.link {
    color: #4b82bf !important;
}
a:not(.toolbar-item):not(.btn)  {
    color: #4b82bf;
}


a:not(.toolbar-item):hover,
a:not(.toolbar-item):focus,
.link:hover,
.link:focus {
    color: #4b82bf !important;
    decoration:none;
}

a:not(.toolbar-item):active,
.link:active {
    color: #4b82bf !important;
    text-decoration-color: #007bff;
}


.page-item.active .page-link {
    background-color: #0071b3;
    border-color: #0071b3;
}

.page-link,
.page-link:hover {
    color: #0071b3 !important;
}

dt {
    border-left-width: 3px;
    border-color: #007bff;
    border-left-style: solid;
    padding-left: 0.5em;
}



.sidebar .block {
    background-color: #f6f6f2;
    border-color: #f9f9f9;
    border-radius: 6px;
}

#page details summary, .ui-dialog details summary {
    color: #0071b3;
    background-color: #f9f9f9;
    margin-block-end: 0.5em;
    padding: 12px;
    border-radius: 6px;
}

.sidebar h2 {
    margin: 0 0 0.5em;
    border-bottom: none;
    padding-bottom: 5px;
    text-shadow: 0 1px 0 #fff;
    font-size: 1.2em;
    line-height: 1.2;
}

.btn-primary {
    background-color: #007bff !important;
    border-color: #007bff !important;
    color: whitesmoke !important;
    text-decoration: none !important;
}

.ui-slider-pips [class*=ui-slider-pip-selected] {
    border-color: #007bff;
    color: #007bff !important;
}

.btn-outline-primary {
    border-color: #007bff !important;
}


.btn-primary:hover,
.btn-primary:focus {
    background-color:#0256b1 !important;
    border-color: #0256b1 !important;
}


.form-check-input:checked {
  background-color: #0256b1 !important;
  border-color: #0256b1 !important;
}

.site-footer {
    background: #292929;
    background-repeat: repeat;
    background-blend-mode: multiply;
}

/* Node edit buttons */
#edit-submit {
    background-color: #0a8c7d;
}

input.form-control.button {
    background-color: #0a8c7d;
    color: #f7f7f7;
}

input.form-control.button:hover, input.form-control.button:focus {
    background-color:#0256b1 !important;
}

#edit-preview {
    background-color: #0a8c7d;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #007bff
}

.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
    color: #fffeff;
}


/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
    margin-left: 0;
    margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
    float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
    right: -20px;
    left: 0;
}

/* IABook Reader Color and Shape Overrides */

.BookReader .BookReaderSearchHilite, .BRmobileMenu .BookReaderSearchHilite, .BRfloat .BookReaderSearchHilite {
    opacity: 0.7;
    outline: 3px solid #ffa500;
    outline-offset: 1em;
    filter: alpha(opacity=70);
    background-color: #ffa500;
    animation: hiliteFadeIn 0.5s;
}

.block-facets .accordion-button:not(.collapsed) {
  color: #007bff !important;
  background-color: #2b3951; !important;
}

.block-facets .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}
