/* ---------- Belleza, Average Sans ---------- */

h1,
h2,
h1 a,
h2 a {
  font-family: 'Belleza', sans-serif;
}
h1,
h1 a {
  font-family: 'Belleza', sans-serif;
  font-weight: 700;
}
h2,
h2 a {
  font-family: 'Belleza', sans-serif;
  font-weight: 700;
}
h4,
h5,
h6 {
  font-family: 'Belleza', sans-serif;
}
h3,
h3 a {
  font-family: 'Average Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
body,
p,
a,
li {
  font-family: 'Average Sans', sans-serif;
}
[role=button] *, .nav-item a, .toolbar * {
  font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
}

